@model dotnetCoreMVC_SKA.Controllers.Order
<form asp-action="Input">
    <label>Name</label><input asp-for="Name"><br>
    <label>Price</label><input asp-for="Price"><br>
    <label>Remark</label><input asp-for="Remark"><br>
    <input type="submit" value="save">
</form>
@*<h5>bbb</h5>*@